#details {
  display: grid;
  grid-template-columns: repeat(3, 323px);
  justify-content: center;
}
.header {
  background-image: url("images/ksaanback.jpg");
}
.logo {
  justify-content: center;
}
.item {
  border: 2px solid rgb(16, 228, 37);
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
  text-align: center;
}

.heading1 {
  text-align: center;
}

.item h2 {
  text-align: center;
  padding: 2px;
}

.item p > span {
  font-weight: 800;
}
.item p {
  padding: 5px 8px;
}
