.navbar {
  background-color: rgb(255, 255, 255, 0.2);
}
.navbar .navbar-brand img {
  height: 4rem;
  width: auto;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
  font-size: 1.8rem;
}

.navbar .navbar-collapse .navbar-nav li {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
}
.home-page-content {
  padding-top: 12%;
}

.home-page-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 1px #333333;
}
.home-supporting-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 1px #333333;
}
.homepage-btn-1 {
  background: #00cc00;
  color: white;
  margin-left: 4px;
  font-size: x-large;
  border-radius: 0.4rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.homepage-btn-1:hover {
  background: #004d00;
  color: white;
}

.team-title {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  position: relative;
  margin: 30px 0 60px;
}

.team-row .card-deck .card {
  width: 280px;
  height: 480px;
  border: hidden;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.team-row .card-deck .card .img-box {
  width: 260px;
  height: 260px;
  align-self: center;
  overflow: hidden;
}
.team-row .card-deck .card img {
  width: 260px;
  height: auto;
  margin-top: 2px;
  align-self: center;
}
.team-row .card-deck .card-body .card-title {
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  position: relative;
}
.team-row .card-deck .card-body .card-subtitle {
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  position: relative;
}
.team-row .card-deck .card-body .card-text p {
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  position: relative;
}
.team-row .card-deck .card-body .teams-socials {
  font-size: 20px;
  color: #262626;
  cursor: pointer;
  text-align: center;
}
